@{
    Layout = "_Layout";
}

@model RecipeBox.Models.Recipe

<h4>Add a new task</h4>

@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.Name)
    @Html.TextBoxFor(model => model.Name)

    @Html.LabelFor(model => model.Description)
    @Html.TextBoxFor(model => model.Description)
    <p>You will add your ingredients on the next page</p>

    @Html.LabelFor(model => model.Instructions)
    @Html.TextBoxFor(model => model.Instructions)

    @Html.LabelFor(model => model.Rating)
    <select id="Rating" name="Rating">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
    </select>

    @Html.Label("Select Tag")
    @Html.DropDownList("TagId")

    <input type="submit" value="Add new item" class="btn btn-default" />
}
<p>@Html.ActionLink("Show all items", "Index")</p>